* {
    margin: 0px;
    padding: 0px;
}

/* 设置轮播图盒子位置及大小 */
.box {
    position: relative;
    width: 520px;
    height: 280px;
    margin: auto;
}

/* 设置图片 */
.box img {
    position: absolute;
    opacity: 0;
    transition: all 1.5s;
}

.box .img1 img {
    opacity: 1;
}

/* 设置左按钮 */
.leftBtn {
    width: 20px;
    height: 35px;
    position: absolute;
    top:120px;
    background-color: rgba(0,0,0, .3);
    color:white;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    border-radius: 0 30% 30% 0;
    display: none;
}

.leftBtn:hover {
    background-color: rgba(0,0,0, .6);
}

/* 设置右按钮 */
.rightBtn {
    width: 20px;
    height: 35px;
    position: absolute;
    right: 0px;
    top:120px;
    background-color: rgba(0,0,0, .3);
    color:white;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    border-radius: 30% 0 0 30%;
    display: none;
}

.rightBtn:hover {
    background-color: rgba(0,0,0, .6);
}

/* 下面用于跳转的小圆点  */
.jump ul{
    position: absolute;
    list-style: none;
    bottom: 10px;
    right:220px;
}

.jump li {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 100%;
    float: left;
    margin-right: 4px;
}

li:first-child {
    background-color: red;
}